body, h1, h2, h3, h4 {
  font-family: 'Open Sans',sans-serif,Arial;
  font-weight: 300;
}

body {
  background-color: #FFA300;
  font-size: 170%;
}

a {
  color: #265F92;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 78, 0);
}

#intro h2, #screenshots h2 {
  font-size: 250%;
  margin: 1em 0;
}

#intro a, #intro a:hover {
  color: #265F92;
}

/* banner
================================================== */

#banner {
  background-color: white;
  border-bottom: 0.3em solid #265F92;
  -webkit-box-shadow: 0 6px 6px -6px #444;
  -moz-box-shadow: 0 6px 6px -6px #444;
  box-shadow: 0 6px 6px -6px #444;
}

#banner .container {
  padding: 1em 0;
}

#banner .tagline {
  font-size: 32px;
  color: #265F92;
  text-align: left;
}

#banner a {
  text-decoration: none;
  border: 0;
}

#banner .logo-text {
  font-size: 550%;
}

@media (min-width: 992px) {
  #banner .tagline {
    display: table-cell;
    height: 120px;
    vertical-align: bottom;
    text-align: left;
  }
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: inline;
  background-color: #265F92;
  margin: 0;
  padding: 0 0 5px 0;
  -webkit-box-shadow: 0 6px 6px -6px #444;
  -moz-box-shadow: 0 6px 6px -6px #444;
  box-shadow: 0 6px 6px -6px #444;
}

nav li {
  display: inline;
  margin: 1em;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: #FFA300;
}

#intro {
  color: #265F92;
  background-color: #fff;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 0 2em 2em 2em;
  -moz-box-shadow: -6px 6px 10px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: -6px 6px 10px 2px rgba(0,0,0,0.2);
  box-shadow: -6px 6px 10px 2px rgba(0,0,0,0.2);
}

.social-github img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1;
}

#overview {
  background-color: #5E93B6;
  color: #ddd;
}

#intro .card {
  text-align: center;
  color: #fff;
  background-color: #265F92;
  padding-bottom: 0.25em;
  margin-left: 1em;
  margin-bottom: 1em;
}

#intro .card img {
  margin-top: 1em;
  margin-bottom: 1em;
}

footer {
  padding: 2em 0;
  color: black;
  font-size: 85%;
}

footer .item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

footer .social {
  text-align: right;
}

.bottom-banner {
  background-color: #fff;
  padding: 1.5em 0;
  -moz-box-shadow: -6px 6px 10px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: -6px 6px 10px 2px rgba(0,0,0,0.2);
  box-shadow: -6px 6px 10px 2px rgba(0,0,0,0.2);
}

#blog {
  background-color: #ddd;
  padding: 30px;
  margin-top: 4em;
}

#blog > h2 {
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: bold;
  color: #265F92;
}

.post {
  padding: 3em;
  background-color: white;
  margin-bottom: 3em;
}

.post .title {
  margin-top: 0;
  margin: 0 0 1em 0;
  font-weight: bold;
}

.post .title a {
  color: inherit;
}

.post .title a:hover {
  color: rgb(255, 78, 0);
}

.post .meta {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 0.5em 0;
  margin: 1em 0;
}

.post .byline, .post .share {
  margin: 0;
  padding: 0;
}

.post .share {
  text-align: right;
}

.pagination {
  margin: 0;
  padding: 0;
}
