<div id="banner">
  <div class="container">
    <style>#forkongithub a{background:#265F92;color:#fff;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#3DA547;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;}#forkongithub a{width:200px;position:absolute;top:45px;right:-45px;transform:rotate(45deg);-webkit-transform:rotate(45deg);box-shadow:0 6px 6px -6px #444;}}</style><span id="forkongithub"><a href="https://github.com/altamiracorp/OSS4DS">Fork me on GitHub</a></span>
    <div class="col-md-3"><a href="/"><img src="{{root_url}}/img/OSS4DS_sm.png" alt="OSS4DS logo"><a></div>
    <div class="col-md-9"><div class="tagline">open source software for data scientists</div></div>
  </div>
</div>
