<footer>
  <div class="container">
    <div class="row bottom-banner">
      <div class="col-md-4">
        &copy; 2014 Altamira Technologies Corporation
      </div>
      <div class="col-md-4">
        <a href="http://www.altamiracorp.com"><img src="{{ site.url }}/img/Altamira-2_color_side_small-48.png" alt="Altamira"/></a>
      </div>
      <div class="col-md-2">
        <a href="http://lumify.io/"><img src="{{ site.url }}/img/Lumify-logo-48.png" alt="Lumify"/></a>
      </div>
      <div class="col-md-2 social">
        <a href="https://twitter.com/oss4ds"><img src="{{ site.url }}/img/twitter.png" alt="OSS4DS on Twitter"/></a>
        <a href="{{ site.url }}/blog/atom.xml" type="application/atom+xml" title="Lumify Atom feed"><img src="{{ site.url }}/img/feed.png" alt="OSS4DS Atom feed"/></a>
      </div>
    </div>
  </div>
</footer>
