---
layout: blog
title: OSS4DS Blog - open source software for data scientists
description: A site dedicated to delivering information about open source software for data scientists
keywords: data science, open source, big data, analytics, visualization
---

<!-- This loops through the paginated posts -->
<div class="post">

<!-- captures and sorts site categories -->
{% capture categories %}
  {% for categories in site.categories %}
    {{ categories[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedcat = categories | split:' ' | sort %}

    
{% for categories in sortedcat %} 
  <h2 id="{{ categories }}">{{ categories }}</h2><ul>
  {% for post in site.categories[categories] %}   
             <li>
           <a href="{{ post.url }}">{{ post.title }}</a>
             </li>

  {% endfor %} 
  </ul> 
{% endfor %} 





